/MgProjects-war/nbproject/private/
/MgProjects-ejb/nbproject/private/
/nbproject/private/
/MgProjects-ejb/build/
/MgProjects-war/build/
/MgProjects-ejb/dist/
/build/
/dist/
/MgProjects-war/dist/